/* General Styles */
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: .9em;
    font-weight: 300;
    line-height: 1.7;
    text-align: left;
    color: #000;
}

a:link, a:hover, a:visited {
    color: #077FC4;
}

a.btn {
    color: white;
}

a:link.black {
    color: #000;
}

.black {
    color: #000;
}

h1, h3 {
    font-weight: 600;
}

h1#myHeader {
    font-size: 1.8em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

/* Language Selection */

.languageIcon {
    color: #000;
}

#switchLanguageMenu .dropdown-item {
    height: 2em;
}

#collapseLanguages {
    border-bottom: solid 3px #bbb;
}

.languageSelection {
    font-size: 1.4em;
    display: block;
    padding: 20px 5px;
    border-top: solid 1px #bbb;
    color: #000;
}

/* Styles */

label[for="myBusLine"] {
    font-weight: 600;
}

#changeList {
    border: solid 2px #467596;
    background-color: white;
    padding: 0 1.5em;
    font-size: 1.2em;
}

#changeList ul {
    margin-bottom: 0;
}

#searchAgainButton {
    font-weight: bold;
}

#busDetailsAlternatives a, #busTips a, #searchAgain, #busSchedule p a {
    text-decoration: underline;
}

#transit {
    margin-top: 5em;
}

#transit-details.busTips {
    padding-top: 0;
}

.busTips {
    background-color: #ebedec;
    padding: 1.5em;
}

.busTips .appLogo {
    height: 2.5em;
}

.busTips div {
    min-height: 36px;
}

#transit-open, #transit-closed {
    color: #777;
}

.jumbotron {
    background-color: #e2f4fd;
    margin-top: 0;
    padding: 0;
}

#busSchedule p {
    font-size: smaller;
}

/* jQuery UI Autocomplete */
ul.ui-autocomplete {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Add spacing to bottom of screen for mobile devices. FB in-app browser has a bug when the Send to Messenger bar is visible and you scroll to the bottom of the page */
@media (max-width: 768px) {
    body {
        margin-bottom: 200px;
    }
}